[Unit]
Description=Node.js Application Service
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/csye6225/webapp
ExecStart=/usr/bin/node /home/csye6225/webapp/server.js
Restart=on-failure
Environment=PORT=8080 NODE_ENV=production
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
